@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --hue-color: 20; /*Purple 250 - Green 142 - Blue 230 - Pink 340  Red 0*/

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-light: hsl(var(--hue-color), 92%, 85%);
  --card-color: hsl(var(--hue-color), 78%, 80%);
  --card-color-border: hsl(var(--hue-color), 100%, 50%);

  --title-color: hsl(var(--hue-color), 18%, 15%);
  --text-color: hsl(var(--hue-color), 5%, 15%);
  --grey: hsl(280, 30%, 94%);

  --btn-color-blue: hsl(214, 84%, 56%);
  --btn-color: hsl(var(--hue-color), 100%, 48%);
  --btn-color-alt: hsl(var(--hue-color), 80%, 48%);

  --width-50: 50%;
}
html {
  color: var(--text-color);
  min-height: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: hsl(223, 33%, 96%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.header-container {
  background-color: var(--card-color);
}
/******* Modal window ******/
.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  width: 20rem;
  padding: 15px;
  background-color: var(--grey);
  border-radius: 10px;
  box-shadow: 0 10px 20px black;
  transform: translate(-50%, -50%) scale(0);
  text-align: left;
}
.modal.is-active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  text-align: center;
  padding: 1.25rem;
}
.modal-header > h1 {
  font-size: 1.5rem;
}

.modal-close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  text-align: center;
  padding: 1rem;
  width: 100%;
}
button,
input {
  border: none;
  text-decoration: none;
  border-radius: 10px;
}
.modal-content > form > input {
  width: 100%;
  margin: 8px;
  padding: 10px;
  font-size: 1.5rem;
}
input[type="submit"] {
  width: var(--width-50);
  padding: 10px 20px;
  background-color: var(--btn-color-blue);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}

/**** Header ****/
header {
  color: var(--title-color);
  background-color: var(--first-color);
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 10px;
  height: 150px;
  border-bottom: solid rgb(70, 70, 70) 2px;
}

.add-book-container {
  text-align: center;
  margin-top: 0;
}
.add-book-btn {
  background: hsl(221, 74%, 32%);
  background-color: var(--btn-color-alt);
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin: 15px;
  padding: 15px 8px;
  font-size: 2rem;
}

/**** Books grid ****/
.books-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-card {
  min-width: 25%;
  height: 20%;
  margin: 15px;
  padding: 2px;
  border: 1px solid;
  border-radius: 10px;
  border-left: 2rem groove var(--card-color-border);
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-card > * {
  /* height: auto; */
  font-size: 1.5rem;
  text-align: justify;
  margin: 5px;
  padding: 10px 15px;
}
.card-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card-btn > button {
  top: 0;
  width: 135px;
  padding: 10px 14px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: var(--btn-color);
  color: white;
}
