@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --hue-color: 20; /*Purple 250 - Green 142 - Blue 230 - Pink 340  Red 0*/

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-alpha-color: hsl(var(--hue-color), 69%, 55%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-light: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);

  --btn-color: hsl(var(--hue-color), 100%, 48%);
  --btn-color-alt: hsl(var(--hue-color), 80%, 48%);
  --card-color: hsl(var(--hue-color), 78%, 67%);
}
html {
  min-height: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: hsl(223, 33%, 96%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.header-container {
  background-color: var(--card-color);
}

header {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 10px;
  height: 150px;
  border-bottom: solid rgb(70, 70, 70) 2px;
}

.add-book-container {
  text-align: center;
  margin-top: 0;
}
.add-book-btn {
  background: hsl(221, 74%, 32%);
  background-color: var(--btn-color-alt);
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin: 15px;
  padding: 15px 8px;
  font-size: 2rem;
}

.books-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-card {
  width: 25%;
  margin: 15px;
  padding: 2px;
  border: 1px solid;
  border-radius: 10px;
  border-left: 2rem groove hsl(16, 100%, 50%);
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-card > * {
  height: auto;
  font-size: 1.5rem;
  text-align: center;
  margin: 15px;
  padding: 10px 15px;
}
.card-btn {
  display: flex;
  gap: 10px;
}
.card-btn > button {
  top: 0;
  width: 50%;
  padding: 10px 8px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: var(--btn-color);
  color: white;
}
